/**
 * set height 100%.
 */
html, body {
    height: 100%;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sandal's style
 */
html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

/**
 * 1. Remove default margin
 * 0. sandal's style.
 */
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #f6f6f7;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none outside none;
}

/*容器布局*/

.cm-keyboard-list:before, .cm-keyboard-list:after {
    content: "";
    display: table;
}

.cm-keyboard-list:after {
    clear: both;
}

.cm-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    margin-left: -150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 985;
}

.cm-modal--num-keyboard {
    bottom: 0;
    width: 100%;
    left: 0;
    top: auto;
    margin-left: 0;
}

.cm-modal .cm-modal-bd {
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

/*完成按钮*/

.btn-secondary {
    line-height: 44px;
    height: 44px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cm-modal--num-keyboard .cm-keyboard-bar {
    background-color: #e2e2e2;
    text-align: right;
    padding-right: 10px;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #dbdbdb;
}

.cm-modal--num-keyboard .cm-keyboard-bar .btn-secondary {
    line-height: 30px;
    height: 30px;
    padding: 0 15px;
}

.btn-secondary {
    background-color: #099fde;
    color: #fff;
    border: 0 none;
}

.cm-keyboard-list {
    font-size: 20px;
    font-weight: 900;
}

.cm-keyboard-list li {
    float: left;
    text-align: center;
    width: 33%;
    line-height: 54px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border-bottom: 1px solid #cccccc;*/
    /*border-right: 1px solid #cccccc;*/
    /*pointer-events: none;*/

}

.cm-keyboard-list li::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #c8c7cc;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    pointer-events: none;
}

.cm-keyboard-list li:nth-child(1), .cm-keyboard-list li:nth-child(2), .cm-keyboard-list li:nth-child(3) {
    border-top-style: none;
}

/*最有变的布局方格处理*/
.cm-keyboard-list li:nth-of-type(3n+3) {
    width: 34%;
    border-right: none;
}

.cm-keyboard-list li:nth-last-child(3) {
    background-color: #C6C6C6;
}

.cm-keyboard-list li:nth-last-child(3) span, .cm-keyboard-list .icon-del-name {
    visibility: hidden;
}

.cm-keyboard-list li:active {
    background-color: #efefef;
}

/*删除按钮*/
.cm-keyboard-list li:last-of-type, .cm-keyboard-list li:nth-last-of-type(3) {
    background-color: #e2e2e2;
}

.cm-keyboard-list .item-del {
    position: relative;
}

.cm-keyboard-list .icon-del-img {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -15px;
    background-image: url("pw-del.png");
    background-size: 100% 100%;
    display: block;
}

.cm-keyboard-list li:last-of-type:active {
    background-color: #fff;
}

/*密码框*/

.cm-password-box {
    width: 90%;
    height: 45px;
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 8px;
}

.cm-password-box ul li {
    width: 16.5%;
    float: left;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    height: 45px;
    line-height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dbdbdb;
    overflow: hidden;
}

.cm-password-box ul li:nth-last-of-type(1) {
    width: 17.5%;
    border-right-style: none;
}

.cm-password-box ul li span {
    display: none;
}








