.class1, body {
  border: 1px solid #ddd; }

body {
  background: #ccc;
  font-family: Helvetica, sans-serif;
  color: red; }

.box-border {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
